<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/settings.css">
<script defer src="/scripts/change-password.js"></script>
</head>
    <body>
        <header>
            <%- include("../includes/navigation.ejs") %>
        </header>
        <main>
            <div class="header">
                <div class="container">
                    <h1>Settings</h1>
                </div>
            </div>
            <div class="container">
                <div class="settings row">
                    <%- include("../includes/settings-sidebar.ejs") %>

                    <div class="info col-9">
                        <h2>Change Password</h2>
                        <form action="/change-password" method="post">
                            <label for="password">Your Current Password</label>
                            <input type="password" id="password" name="oldPassword" placeholder="Old password" class="form-check-input" required>
                            <label for="name">New Password</label>
                            <input type="password" id="new-password" name="newPassword" placeholder="New Password" class="form-check-input" required>
                            <label for="confirm-password">Confirm Password</label>
                            <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password" class="form-check-input" required>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox">
                                 <label for="checkbox">Show Password</label>
                            </div>
                            <div class="success"><%- success && success.length > 0 ? `<i class="fa-regular fa-circle-check"></i>` : "" %> <%= success ? success : "" %></div>
                            <div class="error"><%- error && error.length > 0 ? `<i class="fa-solid fa-circle-exclamation"></i>` : "" %> <%= error ? error : "" %></div>
                            <input type="submit" class="submit-btn" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
<%- include("../includes/end.ejs") %>