<div class="side-nav col-3">
  <ul>
    <p><%= pos%></p>
      <% if (pos === "Labeler") {  %>
        <li>
          <a class="<%= path === "/labler"? "active" : "" %>" href="home"
            ><span><i class="fa-solid fa-house"></i></span>  Home</a
          >
        </li>
        <li>
          <a class="<%= path === "/start-task"? "active" : "" %>" href="start-task"
            ><span><i class="fa-solid fa-door-open"></i></span>  Start Task</a
          >
        </li>
        <li>
          <a class="<%= path === "/submit-task"? "active" : "" %>" href="submit-task"
            ><span><i class="fa-solid fa-door-closed"></i></span>  Submit Task</a
          >
        </li>
        <li>
          <a class="<%= path === "/analytics"? "active" : "" %>" href="analytics"
            ><span><i class="fa-solid fa-chart-simple"></i></span>  Analytics</a
          >
        </li>
        <li>
          <a class="<%= path === "/spl"? "active" : "" %>" href="spl"
            ><span><i class="fa-solid fa-gauge"></i></span>  SPL</a
          >
        </li>
        <li>
          <a class="<%= path === "/hours"? "active" : "" %>" href="Hours"
            ><span><i class="fa-solid fa-clock"></i></span>  Hours</a
          >
        </li>
      <% } else if (pos === "Quality Control"){  %>
        <li>
          <a class="<%= path === "/qc"? "active" : "" %>" href="/qc/home"
            ><span><i class="fa-solid fa-house"></i></span>  Home</a
          >
        </li>
        <li>
          <a class="<%= path === "start-Task"? "active" : "" %>" href="/qc/start-task"
            ><span><i class="fa-solid fa-door-open"></i></span>  Started Tasks</a
          >
        </li>
        <li>
          <a class="<%= path === "/labelers"? "active" : "" %>" href="/qc/labelers"
            ><span><i class="fa-solid fa-user"></i></span>  Labelers</a
          >
        </li>
        <li>
          <a class="<%= path === "/analytics"? "active" : "" %>" href="analytics"
            ><span><i class="fa-solid fa-chart-simple"></i></span>  Analytics</a
          >
        </li>
        <li>
          <a class="<%= path === "/create-labeler"? "active" : "" %>" href="/create-labeler"
            ><span><i class="fa-solid fa-user"></i></span>  Create Labeler</a
          >
        </li>
        <li>
          <a class="<%= path === "/add-queue"? "active" : "" %>" href="/queue"
            ><span><i class="fa-solid fa-angle-right"></i></span>  Queues</a
          >
        </li>
      <% } else if (pos === "Team Lead"){  %>
        <li>
          <a class="<%= path === "/tl"? "active" : "" %>" href="/tl/home"
            ><span><i class="fa-solid fa-house"></i></span>  Home</a
          >
        </li>
        <li>
          <a class="<%= path === "/started-tasks"? "active" : "" %>" href="/tl/start-task"
            ><span><i class="fa-solid fa-door-open"></i></span>  Started Tasks</a
          >
        </li>
        <li>
          <a class="<%= path === "/labelers"? "active" : "" %>" href="/tl/labelers"
            ><span><i class="fa-solid fa-user"></i></span>  Labelers</a
          >
        </li>
        <li>
          <a class="<%= path === "/create-labeler"? "active" : "" %>" href="/create-labeler"
            ><span><i class="fa-solid fa-user"></i></span>  Create Labeler</a
          >
        </li>
        <li>
          <a class="<%= path === "/add-queue"? "active" : "" %>" href="/queue"
            ><span><i class="fa-solid fa-angle-right"></i></span>  Queues</a
          >
        </li>
      <% } else if (pos === "Senior Team Lead"){  %>
        <li>
          <a class="<%= path === "/stl"? "active" : "" %>" href="/stl/home"
            ><span><i class="fa-solid fa-house"></i></span>  Home</a
          >
        </li>
        <li>
          <a class="<%= path === "/started-tasks"? "active" : "" %>" href="/stl/start-task"
            ><span><i class="fa-solid fa-door-open"></i></span>  Started Tasks</a
          >
        </li>
        <li>
          <a class="<%= path === "/labelers"? "active" : "" %>" href="/stl/labelers"
            ><span><i class="fa-solid fa-user"></i></span>  Labelers</a
          >
        </li>
        <li>
          <a class="<%= path === "/create-labelers"? "active" : "" %>" href="/create-labeler"
            ><span><i class="fa-solid fa-user"></i></span>  Create Labeler</a
          >
        </li>
        <li>
          <a class="<%= path === "/create-qc"? "active" : "" %>" href="/create-qc"
            ><span><i class="fa-solid fa-user"></i></span>  Create QC</a
          >
        </li>
        <li>
          <a class="<%= path === "/create-tl"? "active" : "" %>" href="/create-TL"
            ><span><i class="fa-solid fa-user"></i></span>  Create Team Lead</a
          >
        </li>
      <% } %>
  </ul>
</div>
