<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/labeler.css">
<link rel="stylesheet" href="/css/Form.css">
</head>
    <body>
        <header>
            <%- include("../includes/navigation.ejs") %>
        </header>
        <main>
            <div class="container">

            
            <div class="row">
              <%- include("../includes/side-nav.ejs") %>
                <div class=" main col-9 ">
                    <div class="info">
                        <div class="h2-con w-100">
                          <h2>Create Labeler Account</h2>
                        </div>
                        <div class="details">
                         <form <%= editing ? `action=/edit-labeler` : `action=/create-labeler` %> method="post">
                            <p>Name: </p>
                            <input type="text" name="name" <%= editing ? `value=${labeler.name}` : ""; %>>
                            <p>Device:</p>
                            <input type="number" name="device" <%= editing ? `value=${labeler.device}` : "";%> >
                            <p>username: </p>
                            <input type="text" name="username" <%= editing ? `value=${labeler.username}` : "" %>>
                            <p>email: </p>
                            <input type="email" name="email" <%= editing ? `value=${labeler.email}` : "" %>>
                            <p>password: </p>
                            <input <%= editing ? `type="text"` : `type="password"` %> name="password" >
                            <p>Team:</p>
                            <select name="teamId">
                                <% qc.forEach( c => {  %>
                                    <option value="<%= c._id %>"><%= c.name %></option>
                                <% })  %>
                            </select>
                            <p>Team Lead:</p>
                            <select name="teamlead">
                                <% tl.forEach( c => {  %>
                                    <option value="<%= c._id %>"><%= c.name %></option>
                                <% })  %>
                            </select>
                            <p>Senior Team Lead:</p>
                            <input type="text"  value="<%= user.seniorId.name %>" readonly>
                            <input type="hidden" name="senior"  value="<%= user.seniorId._id %>" readonly>
                            <input type="hidden" name="position"  value="Labeler" readonly>
                            <%- editing ? `<input type="hidden" name="labelerId"  value="${labeler._id}" readonly>` : `` %>
                            <button type="submit"><%= editing ? "Update" : "Submit" %></button>
                         </form>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </main>
    </body>
<%- include("../includes/end.ejs") %>