<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/labeler.css">
<link rel="stylesheet" href="/css/table.css">
<script defer src="/scripts/queue.js"></script>
</head>
    <body>
        <header>
            <%- include("../includes/navigation.ejs") %>
        </header>
        <main>
            <div class="container">

            
            <div class="row">
              <%- include("../includes/side-nav.ejs") %>
                <div class=" main col-9 ">
                    <div class="info">
                        <div class="h2-con w-100">
                          <h2>Queues</h2>
                        </div>
                        <div class="scroller">

                            <table>
                                <tr>
                                    <th>Queue name</th>
                                    <th>#</th>
                                    <th>#</th>
                                    
                                </tr>
                                <% q.forEach(el => {%>
                                    <tr>
                                        <td class="name"><%= el.name.toUpperCase() %></td>
                                        <td class="edit" data-edit="<%= el._id %>">edit</td>
                                        <td><form action="delete-queue" method="post"><input type="hidden" name="queueId" value="<%= el._id %>"><button class="delete" type="submit">Delete</button></form></td>
                                    </tr>
                                    <% }) %>
                                </table>
                                <button class="add">+</button>
                            </div>
                      </div>
                </div>
            </div>
        </div>
        </main>
    </body>
<%- include("../includes/end.ejs") %>