<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/labeler.css">
<link rel="stylesheet" href="/css/analytics.css">
<script defer src="/scripts/spl.js"></script>
</head>
    <body>
        <header>
            <%- include("../includes/navigation.ejs") %>
        </header>
        <main>
            <div class="container">

            
            <div class="row">
            <%- include("../includes/side-nav.ejs") %>
            <input type="hidden" class="username" value="<%= username %>">
                <div class=" main col-9 ">
                    <div class="info">
                        <div class="h3-con w-100">
                            <h2>SPL</h2>
                        </div>
                    </div>
                    <!-- <div class="date">
                        <p><%= today %></p>
                        <p><%= todayTime %></p>
                    </div> -->
                    <div class="spl-body wid">
                        <div class="row crd">
                            <div class="list">

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </main>
    </body>
<%- include("../includes/end.ejs") %>